* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #040202;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 95vw;
    top: 0 ;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 4px #fff;
}

header nav ul {
    display: flex;
    gap: 30px;
}
 
header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.3s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #5c1717 0%, #df7575, 100%);
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(67, 14, 14) 0%, rgba(15, 15, 30,0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item,
.item-active {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    opacity: 0;
}

.item-active {
    opacity: 1;
}


.img-marketing {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.img-marketing img {
    max-height: 65%;
    filter: drop-shadow(0 0 30px rgb(67, 14, 14));   
}

.content {
    width: 60%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.martial-title {
    font-size: 5.5rem;
    font-family: 'Bebas Neue';
    line-height: 1.1;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.martial-description {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.btn {
    padding: 8px;
}